body {
  margin: 0;
}
#ctrl-view {
  margin: 18px;
}
#server {
  font-size: 14pt;
  width: 30%;
}
#open-tank-view {
  font-size: 14pt;
}
#log{
  height: 10em;
  overflow: auto;
}
#log > *{
  margin: 0;
  padding: 1em;
}
#log > *:nth-child(even){
  background-color: #eee;
}
#tank-view{
  width: 100vw;
  height: 100vh;
}
#tank-view > iframe{
  width: 100vw;
  height: 100vh;
}